<%- include('../includes/head.ejs') %>

  <%- include('../includes/navigation.ejs') %>
    <main>
      <p>Welcome to <%= pageTitle %>, <%= author %>.</p>
    </main>
  <%- include('../includes/end.ejs') %>