<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/form.css" />
    <link rel="stylesheet" href="/css/auth.css" />

    <%- include('../includes/navigation.ejs') %>
        <main>
        <form class="login-form" action="/signup" method="POST">
            <h1 class="auth-title">Signup Page</h1>
            <% errors.forEach(error => {%>
              <div class="user-message user-message--error"><%= error.msg %></div><br>
            <% }); %>
            <div class="auth-form">
              <div class="form-control">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>"/>
                <label for="name">Name</label>
                <input type="text" name="name" id="name" <%if(errors.find(error => error.param === 'name')){%>class="invalid"<%}%> <%if(oldValues){%>value="<%=oldValues.name%>"<%}%>/>
                <label for="username">UserName</label>
                <input type="text" name="username" id="username" <%if(errors.find(error => error.param === 'username')){%>class="invalid"<%}%> <%if(oldValues){%>value="<%=oldValues.username%>"<%}%>/>
                <label for="email">E-Mail</label>
                <input type="email" name="email" id="email" <%if(errors.find(error => error.param === 'email')){%>class="invalid"<%}%> <%if(oldValues){%>value="<%=oldValues.email%>"<%}%>/>
                <label for="password">Password</label>
                <input type="password" name="password" id="password" <%if(errors.find(error => error.param === 'password')){%>class="invalid"<%}%> <%if(oldValues){%>value="<%=oldValues.password%>"<%}%>/>
                <label for="confirmPassword">Confirm Password</label>
                <input type="password" name="confirmedPassword" id="confirmPassword" <%if(errors.find(error => error.param === 'confirmedPassword')){%>class="invalid"<%}%> <%if(oldValues){%>value="<%=oldValues.confirmedPassword%>"<%}%>/>
              </div>
              <button type="submit">Signup</button>
            </div>
        </form>
        </main>
<%- include('../includes/end.ejs') %>